.registerTriggerBtn {
  border: none;
  border-radius: 12px;
  display: flex;
  padding: 15px 25px;
  outline: none;
  background-color: #ffee33;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.registerTriggerBtn:hover {
  background-color: rgb(243, 228, 63);
}

.container {
  height: 100%;
  padding-bottom: 50px;
}
