.registerTriggerBtn {
  border: none;
  border-radius: 12px;
  display: flex;
  padding: 15px 25px;
  outline: none;
  background-color: #ffee33;
  cursor: pointer;
}

.userTable {
  margin: auto;
  max-width: 500px;
}

.container {
}

.usersHeader {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.titleHeader {
  margin: 0;
}
