.registerTriggerBtn {
  border: none;
  border-radius: 12px;
  display: flex;
  padding: 15px 25px;
  outline: none;
  background-color: #ffee33;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.registerTriggerBtn:hover {
  background-color: rgb(243, 228, 63);
}

.container {
  height: 100%;
  padding-bottom: 50px;
}

.userRegPopup {
  max-width: 300px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  color: black;
  background-color: rgba(50, 205, 50, 0.795);
  z-index: 999999;
  border: 1px solid #c0c0c0;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.fadeIn {
  opacity: 1;

  transition: opacity 0.5s linear;
}
